<h2>Комментарии</h2>
<div class="card">
    {% for comment in comments %}
    <div class="card-body">
        <div class="d-flex flex-start align-items-center">
            <div>
                <h6 class="fw-bold text-dark mb-1"><a href="#" >{{comment.user_comm}}</a></h6>
                <p class="text-muted small mb-0">
                    {{comment.comment_created_at}}
                </p>
            </div>
        </div>
        <p class="mt-3 ">{{comment.content}}</p>
    </div>
    <hr>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
                <div class="form-outline w-100">
                    <label class="form-label">Комментарий:</label>
                    {{form.content}}
                </div>
            </div>
            <div class="float-end mt-2 pt-1">
                <button type="submit" class="btn btn-primary btn-dark">Отправить</button>
            </div>
        </div>
    </form>
</div>
